/*start header section*/
 .nav-item:hover{
    border-radius:3px;
    background-color:rgba(253, 196, 53,0.4);
    color:rgba(44, 120, 62, 1);
    font-weight:700px;
  }
  /*end header section*/
  
  
  /*start hero section*/
.hero{
    
    background-color: rgba(253, 196, 53,0.3);
    border-radius: 10px;
    width: 1500px;
    height: 500px;
    margin: 0px 10px 0px;
  }
  .h{
    flex-wrap: wrap;
  }
  .hh{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1400px;
    height: 550px;
    list-style-type: none;
  }

 .img {
    width: auto;
    height: 400px;
   margin-right: -70px;
 }
 /*end hero section*/


 /*start about section*/
 .about{
    
  background-color: rgba(253, 196, 53,0.2);
  border-radius: 10px;
  width: 1300px;
  height: 500px;
  margin: 100px 0px 100px 100px;
}
.h{
  flex-wrap: wrap;
  
}
.hh{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1400px;
  height: 550px;
  list-style-type: none;
}

.imgg {
 
  width: 300px;
  height: 300px;
 margin-right: 90px;
 border-radius: 300px;
}
/*end about section*/

/*start tab projects*/
<style>
  body {
    background: #fff;
  }
  .mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 50px auto;
    padding: 50px;
  }
  .mytabs input[type="radio"] {
    display: none;
  }
  .mytabs label {
    padding: 0px;
  }

  .mytabs .tab {
    width: 100%;
    padding-top: 30px;
    background: #fff;
    order: 1;
    display: none;
  }

  .mytabs input[type="radio"]:checked + label + .tab {
    display: block;
  }

  .mytabs input[type="radio"]:checked + label {
    background: #fff;
  }


/*end tab projects*/



 /*start project section*/
 .nav{
    justify-content: center;
 }

 .part{
    margin-top: 60px;
 }
/*end project section*/



  /*start contact(form) section */
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  
  /*to put para & button in center
 /*.contact-para{
  margin: 0px 550px 0px;
  width: 500px;
  height: auto;
  text-align: center;
 }*/
  
  .custom-container {
    
    flex-wrap: wrap;
    max-width: 400px;
    width: 100%;
    margin: 0px 500px 0px;
    position: relative;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }
  
  #contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 50px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  #contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #fdc435;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    
  }

  
  
  
  #contact button[type="submit"]:hover {
    background: #bb8600;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .copyright {
    text-align: center;
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
    color: #888;
  }
  
  :-moz-placeholder {
    color: #888;
  }
  
  ::-moz-placeholder {
    color: #888;
  }
  
  :-ms-input-placeholder {
    color: #888;
  }

  
  /*end contact(form) section */

  /*star footer section */
  .containerr{
    display:flex;
    flex-wrap:wrap; 
    justify-content:flex-start ;
    align-items:center;
  }
  /*end footer section */


