.body{
    box-sizing: border-box;
    margin:0;
    padding:0;
  }


  /*about section*/
  .sabout{
    display: flex;
  }
  .about{
    width: 1400px;
    height: 700px;
    background-color: rgba(253,191,53,0.3);
    border-radius: 10px;
    display: flex;
    
}
  
  .part1{
    border-radius:3px;
    }
  
    .d-block{
      margin-left: 800px;
    }

  .navbar{
    border: 0;
    flex-wrap:wrap;
    height:50px;
    width:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;  
    padding:0px 20px 0px;
    margin: 0px 20px 0px;
    
  }
  
  .logo{
    height: 60px;
    width:auto;
    justify-content:end;
    align-items:top;
   
    
  }

  .navigation{
    display:flex;
    flex-wrap:wrap;
  }
  
  .links{
    display:flex;
    list-style-type:none;
  }
  
  .links li a{
      text-decoration:none;
      padding:10px;
      color:white;
  }
  .search-container {
    align-content:space-between;
    padding: 6px 10px;
    margin: 20px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius:3px;
    border:0px;
   
  }
  .buttons button{
   color:darkblue;
   font-weight:bold;
   font-size:large;
    padding: 5px 10px;
    border-radius:3px;
    border:0px;
    margin: 20px 0px;
  }
  
  .btn {
    display:flex;
    justify-content:space-between;
  }

  /*about*/
  .roww{
    background-color: red;
    width:1000px;
    height: auto;
    margin: top 0px; ;
    
  }
  
  .col-10{
    display: flex;
    
    width: 700px;
    height: auto;
   
  }
   .pl{
margin: 250px;
  }
  .d-blockk{
    margin-left:-700px;
    border-radius:  300px;
  }
   .button1:hover {
      background-color:lightblue; 
      color: green; 
      border: 0px solid #008CBA;
      font-size: large;
      cursor: pointer;
    }
    .button2:hover {
      background-color:lightblue; 
      color: red; 
      border: 0px solid #008CBA;
      font-size: large;
       cursor: pointer;
    }
    .nav-item:hover{
    border-radius:3px;
    background-color:rgba(44, 120, 62, 0.3);
    color:rgba(44, 120, 62, 1);
    font-weight:700px;

  }

  .d-block{
    background-color: #1b561d;
    margin-right: 700px ;
  }

  .pl{
    display: flex;
    justify-content: center;
  }

  /*form */
 @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}



.containeer {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #1b561d;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  
}


#contact button[type="submit"]:hover {
  background: #529058;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}


